/*button{
				animation: fade 6s  200ms;
				border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  font-size: 20px;

			}
			
			button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
button:hover{

  background-color: #777;
}
button:hover span {

  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}*/
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
button{
        
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 48.3%
  margin: 2px 2px;
  font-size: 20px;

      }

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
button:hover{

  background-color: #777;
}
button:hover span {

  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}